.component-wrapper {
  width: 600px;
  height: 400px;
  margin: 0px auto;
  padding: 20px;
  border-right: 20px solid tomato;
  border-bottom: 20px solid #008C46;
  border-left: 20px solid yellow;
  background-color: aliceblue;
  position: relative;
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  text-decoration: underline;
  color: blue;
}

a:visited {
  text-decoration: none;
}

.thumb {
  float: left;
  margin: 0px 30px;
  width: 130px;
}

.pix-thumb {
  float: left;
  margin: 10px 20px;
  width: 100px;
}

.project-thumb {
  float: left;
  width: 120px;
  height: 120px;
}

.thumb-title {
  float: left;
  color: white;
  text-align: center;
  width: 130px;
  /*background-color: white;
  border: 1px solid black;
  border-top: 0px;
  height: 30px;*/
}

.project-thumb-wrapper {
  margin: 0px 10px;
  padding: 5px;
  width: 130px;
  display: inline-block;
  text-decoration: none;
}

.project-thumb-wrapper:hover {
  background-color: #FF927E;
}

.project-thumb-wrapper:after {
  content: "";
  display: block;
  clear: both;
}

.thumb:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.thumbs-container {
  width: 570px;
  position: relative;
  top: 50%;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(-50%);
}

.thumbs-container:after {
  content: "";
  display: block;
  clear: both;
}

.pix-thumbs-container {
  width: 420px;
  margin-right: auto;
  margin-left: auto;
}

.pix-thumbs-container:after {
  content: "";
  display: block;
  clear: both;
}

.project-thumbs-container {
  width: 480px;
  margin: 30px auto;
}

.project-thumbs-container:after {
  content: "";
  display: block;
  clear: both;
}

.title {
  margin-bottom: -17px;
  font-size: 72px;
  font-family: 'Amatic SC', cursive;
}

.app {
  width: 600px;
  height: 600px;
  margin: 5% auto;
}

.footer {
  text-align: right;
  padding-right: 0px;
  font-size: 24px;
  font-family: 'Amatic SC', cursive;
  width: 600px;
  margin-left: 80px;
}

.hide-about {
  bottom: -440px;
}

.show-about {
  bottom: 0px;
}

.section-title {
  font-size: 26px;
}

.profile-photo {
  width: 188px;
  margin: 10px;
  border-radius: 10px;
  float: left;
}

.down {
  color: white;
  bottom: 0px;
  left: 50%;
  transform: rotate(270deg);
  margin-bottom: -5px;
}

.button {
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
  position: absolute;
}

.button:hover {
  cursor: pointer;
  color: blue;
}

.left {
  color: black;
  left: 0px;
  top: 50%;
}

.right {
  right: 0px;
  top: 50%;
  color: black;
  transform: rotate(180deg);
}

.blurb {
  color: white;
  margin-top: 20px;
}

.pix-blurb {
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
}

.wrapper {
  font-family: 'Coming Soon', cursive;
  font-size: 17px;
  width: 600px;
  height: 400px;
  position: absolute;
  padding: 20px;
}

.about-me {
  left: 0px;
  background: #008C46 none repeat scroll 0% 0%;
  -webkit-transition: bottom 600ms cubic-bezier(0.535, 0.050, 0.460, 0.980);
  -moz-transition: bottom 600ms cubic-bezier(0.535, 0.050, 0.460, 0.980);
  -o-transition: bottom 600ms cubic-bezier(0.535, 0.050, 0.460, 0.980);
  transition: bottom 600ms cubic-bezier(0.535, 0.050, 0.460, 0.980);
}

.pixelate {
  top: 0px;
  background: yellow none repeat scroll 0% 0%;
  -webkit-transition: left 600ms cubic-bezier(0.535, 0.050, 0.460, 0.980);
  -moz-transition: left 600ms cubic-bezier(0.535, 0.050, 0.460, 0.980);
  -o-transition: left 600ms cubic-bezier(0.535, 0.050, 0.460, 0.980);
  transition: left 600ms cubic-bezier(0.535, 0.050, 0.460, 0.980);
}

.projects {
  top: 0px;
  background: tomato none repeat scroll 0% 0%;
  -webkit-transition: right 600ms cubic-bezier(0.535, 0.050, 0.460, 0.980);
  -moz-transition: right 600ms cubic-bezier(0.535, 0.050, 0.460, 0.980);
  -o-transition: right 600ms cubic-bezier(0.535, 0.050, 0.460, 0.980);
  transition: right 600ms cubic-bezier(0.535, 0.050, 0.460, 0.980);
}

.show-projects {
  right: 0px;
}

.hide-projects {
  right: -640px;
}

.show-pix {
  left: 0px;
}

.hide-pix {
  left: -640px;
}

.subtitle {
  width: 120px;
  float: left;
  color: white;
}

.browser {
  height: 160px;
  margin-bottom: 10px;
  text-align: center;
}

.terminal {
  height: 160px;
  text-align: center;
}

.keyboard {
  background-image: url("./images/keyboard.png");
}

.pepper {
  background-image: url("./images/set.png");
}

.minesweeper {
  background-image: url("./images/minesweeper.png");
}

.chess {
  background-image: url("./images/chess.png");
}

.rails {
  background-image: url("./images/rails.png");
}
